@using CallAssistant.ViewModels.Appointments

@page "/appointments"

<div class="m-3">
    <h2 class="text-light">My Appointments</h2>
    <hr class="bg-white" />

    <div class="m-3 d-flex align-items-start flex-column">
        <table class="table table-striped bg-light">
            <thead>
                <tr>
                    <th scope="col">Day</th>
                    <th scope="col">Time</th>
                    <th scope="col">Reason</th>
                    <th scope="col">Provider</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var appt in CurrentAppointmnets)
                {
                    <tr>
                        <td>@GetDateString(appt.StartTime)</td>
                        <td>@appt.StartTime.TimeOfDay</td>
                        <td>@appt.Name</td>
                        <td>@appt.Provider</td>
                    </tr>
                }
            </tbody> 
        </table>

    </div>
</div>


 

@code {
    List<Appointment> CurrentAppointmnets = AppointmentSeed.SeedAppointmnets();

    Appointment NewAppointment = new Appointment() { StartTime = DateTime.Now };

    void AddAppointment()
    {
        NewAppointment.StartTime = NewAppointment.StartTime.Date + LocalTime;
        CurrentAppointmnets.Add(this.NewAppointment);
        this.NewAppointment = new Appointment() { StartTime = DateTime.Now };
        
    }

    string TimeProxy
    {
        get => Time;
        set {
            Time = value;
            TimeSpan.TryParse(value, out LocalTime);
        }
    }

    string Time;

    TimeSpan LocalTime = TimeSpan.FromHours(0);

    string GetDateString(DateTime date)
    {
        if(date.Date == DateTime.Now.Date)
        {
            return "Today";
        }
        else
        {
            return date.ToShortDateString();
        }
    }
}
