@page "/"


<div class="container-fluid p-3">
    <h2>Doc Robot Overview</h2>
    <hr />
    <p>This site showcases a healthcare themed chatbot has a few very nifty features...</p>

    <p>On the <a href="https://callassistant.silverinc.org/onchat">Chats Screen</a>
        you can see the main viewport, along with the welcome message at the top:</p>
    <img src="" />
</div>





